<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="evga-rgb-v2-gpu">EVGA RGB v2 GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>3842:2172</code></td>
<td align="left">EVGA GeForce RTX 2070 XC Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>3842:2173</code></td>
<td align="left">EVGA GeForce RTX 2070 XC OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>3842:3173</code></td>
<td align="left">EVGA GeForce RTX 2070 SUPER XC Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>3842:3175</code></td>
<td align="left">EVGA GeForce RTX 2070 SUPER XC Ultra+</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>3842:3277</code></td>
<td align="left">EVGA GeForce RTX 2070 SUPER FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>3842:3377</code></td>
<td align="left">EVGA GeForce RTX 2070 SUPER FTW3 Ultra+</td>
</tr>
<tr>
<td align="center"><code>10DE:1E82</code></td>
<td align="center"><code>3842:2081</code></td>
<td align="left">EVGA GeForce RTX 2080 Black</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>3842:2082</code></td>
<td align="left">EVGA GeForce RTX 2080 XC Black</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>3842:2182</code></td>
<td align="left">EVGA GeForce RTX 2080 XC Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>3842:2183</code></td>
<td align="left">EVGA GeForce RTX 2080 XC Ultra Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>3842:3182</code></td>
<td align="left">EVGA GeForce RTX 2080 SUPER XC Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>3842:3183</code></td>
<td align="left">EVGA GeForce RTX 2080 SUPER XC Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>3842:3287</code></td>
<td align="left">EVGA GeForce RTX 2080 SUPER FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>3842:3288</code></td>
<td align="left">EVGA GeForce RTX 2080 SUPER FTW3 Hybrid OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>3842:3289</code></td>
<td align="left">EVGA GeForce RTX 2080 SUPER FTW3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:1E04</code></td>
<td align="center"><code>3842:2281</code></td>
<td align="left">EVGA GeForce RTX 2080Ti Black</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>3842:2383</code></td>
<td align="left">EVGA GeForce RTX 2080Ti XC Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>3842:2384</code></td>
<td align="left">EVGA GeForce RTX 2080Ti XC HYBRID GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:1E04</code></td>
<td align="center"><code>3842:2389</code></td>
<td align="left">EVGA GeForce RTX 2080Ti XC HYDRO COPPER</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>3842:2487</code></td>
<td align="left">EVGA GeForce RTX 2080Ti FTW3 Ultra</td>
</tr>
</tbody></table>
