<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="msi-gpu">MSI GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:1B81</code></td>
<td align="center"><code>1462:3306</code></td>
<td align="left">MSI GeForce GTX 1070 Gaming X</td>
</tr>
<tr>
<td align="center"><code>10DE:2184</code></td>
<td align="center"><code>1462:3790</code></td>
<td align="left">MSI GeForce GTX 1660 Gaming X 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:2182</code></td>
<td align="center"><code>1462:375C</code></td>
<td align="left">MSI GeForce GTX 1660Ti Gaming 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:2182</code></td>
<td align="center"><code>1462:375A</code></td>
<td align="left">MSI GeForce GTX 1660Ti Gaming X 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:21C4</code></td>
<td align="center"><code>1462:C759</code></td>
<td align="left">MSI GeForce GTX 1660 Super Gaming 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:21C4</code></td>
<td align="center"><code>1462:C758</code></td>
<td align="left">MSI GeForce GTX 1660 Super Gaming X 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E89</code></td>
<td align="center"><code>1462:3752</code></td>
<td align="left">MSI GeForce RTX 2060 Gaming Z 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1462:3752</code></td>
<td align="left">MSI GeForce RTX 2060 Gaming Z 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1462:3754</code></td>
<td align="left">MSI GeForce RTX 2060 Gaming Z 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1462:C752</code></td>
<td align="left">MSI GeForce RTX 2060 Super Gaming X</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1462:C754</code></td>
<td align="left">MSI GeForce RTX 2060 Super ARMOR OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>1462:3732</code></td>
<td align="left">MSI GeForce RTX 2070 Gaming Z</td>
</tr>
<tr>
<td align="center"><code>10DE:1F02</code></td>
<td align="center"><code>1462:3733</code></td>
<td align="left">MSI GeForce RTX 2070 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F02</code></td>
<td align="center"><code>1462:3734</code></td>
<td align="left">MSI GeForce RTX 2070 ARMOR</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>1462:3734</code></td>
<td align="left">MSI GeForce RTX 2070 ARMOR OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:C730</code></td>
<td align="left">MSI GeForce RTX 2070 SUPER ARMOR OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:373F</code></td>
<td align="left">MSI GeForce RTX 2070 Super Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:C727</code></td>
<td align="left">MSI GeForce RTX 2070 Super Gaming Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:373e</code></td>
<td align="left">MSI GeForce RTX 2070 Super Gaming X</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:C726</code></td>
<td align="left">MSI GeForce RTX 2070 Super Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1462:37B6</code></td>
<td align="left">MSI GeForce RTX 2070 Super Gaming Z Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E82</code></td>
<td align="center"><code>1462:372E</code></td>
<td align="left">MSI GeForce RTX 2080 Gaming Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1462:3726</code></td>
<td align="left">MSI GeForce RTX 2080 Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1462:3728</code></td>
<td align="left">MSI GeForce RTX 2080 Sea Hawk EK X</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1462:3721</code></td>
<td align="left">MSI GeForce RTX 2080 Duke 8G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1462:C724</code></td>
<td align="left">MSI GeForce RTX 2080 Super Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1462:3715</code></td>
<td align="left">MSI GeForce RTX 2080Ti Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1462:371E</code></td>
<td align="left">MSI GeForce RTX 2080Ti Gaming Z Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1462:3716</code></td>
<td align="left">MSI GeForce RTX 2080Ti 11G Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1462:3717</code></td>
<td align="left">MSI GeForce RTX 2080Ti Sea Hawk EK X</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1462:3976</code></td>
<td align="left">MSI GeForce RTX 3060 Gaming X 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1462:3976</code></td>
<td align="left">MSI GeForce RTX 3060 Gaming X 12G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2487</code></td>
<td align="center"><code>1462:3976</code></td>
<td align="left">MSI GeForce RTX 3060 Gaming X 12G (GA104)</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1462:3903</code></td>
<td align="left">MSI GeForce RTX 3060 12G Gaming X Trio LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1462:3903</code></td>
<td align="left">MSI GeForce RTX 3060 12GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1462:3903</code></td>
<td align="left">MSI GeForce RTX 3060 Ti 8GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1462:3973</code></td>
<td align="left">MSI GeForce RTX 3060 Ti 8GB Gaming X LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1462:3903</code></td>
<td align="left">MSI GeForce RTX 3060 Ti 8GB Gaming X Trio LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1462:3904</code></td>
<td align="left">MSI GeForce RTX 3070 8GB Gaming Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1462:3903</code></td>
<td align="left">MSI GeForce RTX 3070 8GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1462:3901</code></td>
<td align="left">MSI GeForce RTX 3070 8GB Suprim X</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1462:3901</code></td>
<td align="left">MSI GeForce RTX 3070 8GB Suprim X LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1462:5052</code></td>
<td align="left">MSI GeForce RTX 3070 Ti 8GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1462:5051</code></td>
<td align="left">MSI GeForce RTX 3070 Ti Suprim X 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1462:389B</code></td>
<td align="left">MSI GeForce RTX 3080 10GB Gaming Z Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1462:389B</code></td>
<td align="left">MSI GeForce RTX 3080 10GB Gaming Z Trio LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1462:3892</code></td>
<td align="left">MSI GeForce RTX 3080 10GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1462:3897</code></td>
<td align="left">MSI GeForce RTX 3080 Suprim X 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1462:3897</code></td>
<td align="left">MSI GeForce RTX 3080 Suprim X 10G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1462:3897</code></td>
<td align="left">MSI GeForce RTX 3080 Suprim X 12G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1462:389B</code></td>
<td align="left">MSI GeForce RTX 3080 12GB Gaming Z Trio LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1462:389B</code></td>
<td align="left">MSI GeForce RTX 3080 Ti Gaming X Trio 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1462:3897</code></td>
<td align="left">MSI GeForce RTX 3080 Ti Suprim X 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1462:3884</code></td>
<td align="left">MSI GeForce RTX 3090 24GB Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1462:3882</code></td>
<td align="left">MSI GeForce RTX 3090 Suprim X 24G</td>
</tr>
<tr>
<td align="center"><code>10DE:2203</code></td>
<td align="center"><code>1462:5090</code></td>
<td align="left">MSI GeForce RTX 3090 Ti Suprim X 24G</td>
</tr>
<tr>
<td align="center"><code>10DE:2203</code></td>
<td align="center"><code>1462:5091</code></td>
<td align="left">MSI GeForce RTX 3090 Ti Gaming X Trio 24G</td>
</tr>
<tr>
<td align="center"><code>1002:73FF</code></td>
<td align="center"><code>1462:5020</code></td>
<td align="left">MSI Radeon RX 6600 XT Gaming X</td>
</tr>
<tr>
<td align="center"><code>1002:73FF</code></td>
<td align="center"><code>1462:3981</code></td>
<td align="left">MSI Radeon RX 6700 XT Gaming X</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1462:3961</code></td>
<td align="left">MSI Radeon RX 6800 Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1462:3951</code></td>
<td align="left">MSI Radeon RX 6800 XT Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1462:3953</code></td>
<td align="left">MSI Radeon RX 6800 XT Gaming Z Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1462:3952</code></td>
<td align="left">MSI Radeon RX 6900 XT Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73AF</code></td>
<td align="center"><code>1462:3955</code></td>
<td align="left">MSI Radeon RX 6900 XT Gaming Z Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1462:3955</code></td>
<td align="left">MSI Radeon RX 6950 XT Gaming X Trio</td>
</tr>
<tr>
<td align="center"><code>1002:73A5</code></td>
<td align="center"><code>1462:3955</code></td>
<td align="left">MSI Radeon RX 6950 XT Gaming X Trio</td>
</tr>
</tbody></table>
