<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="nvidia-illumination">NVIDIA Illumination</h1>
<p> Tested on various 30 series GPUs and a Founders Edition 2070 Super
If you want to see if your card should also use this controller, download the DLLs from the release of <a href="https://gitlab.com/OpenRGBDevelopers/NvAPISpy">this</a>.</p>
<p>Perform the global replacement technique, which is specified in the README of NvAPI spy.  Once this is complete, use an RGB program of your choice and make some basic
lighting changes.</p>
<p>Check the C:\NvAPISpy\ folder and see if the logs created are filled with calls like this:</p>
<pre><code>NvAPI_GPU_ClientIllumZonesGetControl:   version: 72012  numIllumZones: 2  bDefault: 0  rsvdField: 0
ZoneIdx: 0 ----------------------------------------
**ZoneType: RGBW  ControlMode: MANUAL
**DATA_RGBW::  Red: 255  Green: 0  Blue: 0  White: 0  Brightness%: 36
ZoneIdx: 1 ----------------------------------------
**ZoneType: SINGLE_COLOR  ControlMode: MANUAL
**DATA_SINGLE_COLOR::  Brightness% 100
NvAPI_GPU_ClientIllumZonesSetControl:   version: 72012  numIllumZones: 2  bDefault: 0  rsvdField: 0
ZoneIdx: 0 ----------------------------------------
**ZoneType: RGBW  ControlMode: MANUAL
**DATA_RGBW::  Red: 255  Green: 0  Blue: 0  White: 0  Brightness%: 36
ZoneIdx: 1 ----------------------------------------
**ZoneType: SINGLE_COLOR  ControlMode: MANUAL
**DATA_SINGLE_COLOR::  Brightness% 44
</code></pre>
<p>If you see Get/Set Calls above for zone control, please create a <a href="https://gitlab.com/CalcProgrammer1/OpenRGB/-/issues/new?issuable_template=New%20Device#">new device issue</a>
and attach the relevant details to request support for your device (try various modes in each color, especially white and shades around it, since some cards treat RGBW as
standard RGB).</p>
<h2 id="connection-type">Connection Type</h2>
<p> PCI</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are not supported by controller</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
</table>
