<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="steel-series-rival-3">Steel Series Rival 3</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1710</code></td>
<td align="left">SteelSeries Rival 300</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1714</code></td>
<td align="left">Acer Predator Gaming Mouse (Rival 300)</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1394</code></td>
<td align="left">SteelSeries Rival 300 CS:GO Fade Edition</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1716</code></td>
<td align="left">SteelSeries Rival 300 CS:GO Fade Edition (stm32)</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>171a</code></td>
<td align="left">SteelSeries Rival 300 CS:GO Hyperbeast Edition</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1392</code></td>
<td align="left">SteelSeries Rival 300 Dota 2 Edition</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1718</code></td>
<td align="left">SteelSeries Rival 300 HP Omen Edition</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1710</code></td>
<td align="left">SteelSeries Rival 300 Black Ops Edition</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>1824</code></td>
<td align="left">SteelSeries Rival 3 (Old Firmware)</td>
</tr>
<tr>
<td align="center"><code>1038</code></td>
<td align="center"><code>184C</code></td>
<td align="left">SteelSeries Rival 3</td>
</tr>
</tbody></table>
