<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="thermaltake-riing">Thermaltake Riing</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FA5</code></td>
<td align="left">Thermaltake Riing (PID 0x1FA5)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FA6</code></td>
<td align="left">Thermaltake Riing (PID 0x1FA6)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FA7</code></td>
<td align="left">Thermaltake Riing (PID 0x1FA7)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FA8</code></td>
<td align="left">Thermaltake Riing (PID 0x1FA8)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FA9</code></td>
<td align="left">Thermaltake Riing (PID 0x1FA9)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAA</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAA)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAB</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAB)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAC</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAC)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAD</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAD)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAE</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAE)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FAF</code></td>
<td align="left">Thermaltake Riing (PID 0x1FAF)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB0</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB0)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB1</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB1)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB2</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB2)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB3</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB3)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB4</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB4)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>1FB5</code></td>
<td align="left">Thermaltake Riing (PID 0x1FB5)</td>
</tr>
</tbody></table>
